/* Page Layout */
.home-container {
  min-height: 100vh;
  background: #f4f6f9;
  font-family: Arial, Helvetica, sans-serif;
}

/* Fixed Header */
.home-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 0 40px;
  background: #1f1f39;
  color: white;
  box-sizing: border-box;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
}


.logout-btn {
  background: #ef4444;
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s ease;
  width: auto;          
}

.logout-btn:hover {
  background: #dc2626;
  transform: scale(1.05);
}

/* Page Content */
.home-content {
  padding: 60px;
  text-align: center;
  margin-top: 100px;   
}

.home-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 18px;
  color: #555;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Popup Buttons */
.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.yes-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.no-btn {
  background: #e5e7eb;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}
